<h2 class="form-header">Sign in</h2>
<div class="devise-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Sign in" %>
    </div>

    <br>
        <div id="appleid-signin" class="signin-button " data-color="black" data-border="true" data-type="sign in"></div>
        <div class="g-signin2 google-customBtn signin-button" data-width="234" data-height="40" data-longtitle="true" data-onsuccess="onSignIn"></div>
        <div class="fb-login-button signin-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
     
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>
