<!DOCTYPE html>
<html>
<head>
  <title>Disney Ride Reviews</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('favicon.ico') %>
</head>
<body>

  <nav class="top-bar">     
    <a href="/rides" class="logo"><%= image_tag("disney-final.png", alt: "Logo") %></a> 
    <div>
        <%- if current_user -%>
          <%- if current_user.role == "admin" -%>
            <div class="top-bar-right">
              <ul class="menu">
                <li><%= link_to 'Add Ride', '/rides/new', :class => "button alert hollow" %></li>
                <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "button alert hollow" %></li>
              </ul>
            </div>
          <%- else -%>
            <div class="top-bar-right">
              <ul class="menu">
                <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "button alert hollow"  %></li>
              </ul>
            </div>
          <%- end -%>
        <%- else -%>
          <div class="top-bar-right">
            <ul class="menu">
              <li><%= link_to 'Sign Up', new_user_registration_path, :class => "button alert hollow" %></li>
              <li><%= link_to 'Sign In', new_user_session_path, :class => "button alert hollow" %></li>
            </ul>
          </div>
        <%- end -%>
    </div>
  </nav>


  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>